<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/my-favorite-hobby.css">
<style>
a.highlight:hover {
  color: #ff0000;
} 
</style>


</head>
<body>
<div class="topnav">
  <a href="https://www.youtube.com/watch?v=Gzgt0AUHb8M"target="_blank">Yu-Gi-Oh Card Rarity Guide!</a>
  <a href="https://www.youtube.com/watch?v=F_okBmieBLw"target="_blank">A Cool Duel!</a>
  <a href="https://www.youtube.com/watch?v=5qwSI6q67A4&t=89s"target="_blank">My Favorite Battle Scenes From the Series!</a>
</div>

<div class="header">
  <h1>MY FAVORITE HOBBY: YU-GI-OH!</h1>
</div>

  <div class="col-9">
    <p>Hello, my name is Robert Oliver and I would like to start off by saying thank you for visiting my website!
	I am here to familiarize you with one of the worlds greatest card games; Yu-Gi-Oh! Invented in 1999 by Konami, and on
	July 7, 2009, made the Guiness World Record for most cards sold worldwide! I first got divulged into Yu-Gi-Oh! the summer
	of my 5<sup>th</sup> grade year. Some of my friends already watched the TV series, and most of them already had trading cards.
 	I finally decided to pick up a deck from my local card shop at the time, and since then, I never put it down! I am proud to say that
	I have been playing this card game for over a decade. To play, each player starts out with 8,000 Life Points, and your goal as a player
	is to get your opponent to 0 Life Points. This game is played all over the world, and competitions are held yearly to showcase cards and skill!
	I would also like to give a quick tour of the site: The table below is 2020's most expensive cards, as of September 2020. You will see the card name
	followed by the pack it was released in, and its current value in USD. The top Navigation Bar consists of a trading card rarity guide, The best acutal in-person duel
	I have watched/seen, and my favorite battle scenes from the TV series.

   

<body>

<table>
  <tr>
    <th>Card Name</th>
    <th>Booster Pack Name</th>
    <th>Cost</th>
  </tr>
  <tr>
    <td><i>Tournament Black Luster Soldier</i></td>
    <td>N/A</td>
    <td>$1,000,000+ </td>
  </tr>
  <tr>
    <td><i>Armament of the Lethal Lords</i> </td>
    <td>2006 Yu-Gi-Oh! World Champs</td>
    <td>$9,000+</td>
  </tr>
  <tr>
    <td><i>Dark Magician Girl</i></td>
    <td>2000 Tournamnet Promo</td>
    <td>$2,000</td>
  </tr>
  <tr>
    <td><i>Tyler, The Great Warrior</i></td>
    <td>N/A</td>
    <td>$150,000</td>
  </tr>
  <tr>
    <td><i>First Edition Blue Eyes White Dragon</i></td>
    <td>First Ever Pack Release</td>
    <td>$15,000</td>
  </tr>
  <tr>
    <td><i>Iron Knight Of Revolution</i></td>
    <td>2017 Yu-Gi-Oh! World Championships</td>
    <td>$13,000</td>
  </tr>
</table>



<div class="row">
  <div class="column">
    <h2>Accompishments</h2>
    <p> As an avid trader, I would say that my biggest accomplishment was beating our local "pay-to-win" player. This was a player that always bought booster packs and never really traded with anyone else, so they would have an advantage at all times. I was able to beat them with a crowd wathcing as well, which may have been the best part! </p>
  </div>
  
  <div class="column">
    <h2>Becoming A Trader</h2>
    <p>I would say the easiest way to become a player or trader is get a hold of a deck or two. Many older players who no longer duel like to helpk the younger generation by selling their cards off at very low prices. Even though they are used, it is a great way to get a deck of your choice going. Soon enough each of those cards will be worth money!</p>
  </div>
  
  <div class="column">
    <h2>Building A Good Deck</h2>
    <p>My best tip when it comes to building a good deck is patience and a good base. In order to acheive these, one must first obtain a starter deck. This is like a baseline for what kind of deck you are going to build. These decks contain "staple" cards that many variations of the deck use.</p>
  </div>
</div>
<div class="gallery">
  <a target="_blank" href="https://images-na.ssl-images-amazon.com/images/I/71y8Hdi9ueL._AC_SL1017_.jpg">
    <img src="https://images-na.ssl-images-amazon.com/images/I/71y8Hdi9ueL._AC_SL1017_.jpg" alt="Blue Eyes" width="600" height="400">
  </a>
  <div class="desc">My Favorite Card Ever!</div>
</div>

<div class="gallery">
  <a target="_blank" href="https://i.ebayimg.com/images/g/pJwAAOSwzLJfNZFI/s-l1600.jpg">
    <img src="https://i.ebayimg.com/images/g/pJwAAOSwzLJfNZFI/s-l1600.jpg" alt="Ghost Rare" width="600" height="400">
  </a>
  <div class="desc">A "Ghost" Rare Trading Card!</div>
</div>

<div class="gallery">
  <a target="_blank" href="https://yugioh.fandom.com/wiki/Yugi_Muto">
    <img src="https://vignette.wikia.nocookie.net/yugioh/images/7/73/Yugi_muto.png/revision/latest/scale-to-width-down/350?cb=20170309011846" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc">Check Out The Main Character On their fan site!</div>
</div>
<div class="gallery">
  <a target="_blank" href="https://i.redd.it/kjmq4sig4wt21.jpg">
    <img src="https://i.redd.it/kjmq4sig4wt21.jpg" alt="Dark Magician" width="600" height="400">
  </a>
  <div class="desc">This is the classic Dark Magician</div>
</div>

</pre>

  <p2>
   <a class="highlight" href="C:/Users/bob/Desktop/SoftwareEngineering/Sprint1/my-favorite-hobby.html#">Back to Top!</a>

	<ol>
  		<li>Please Note:</li>
  		<li>1.I own none of the pictures on this site</li>
  		<li>2.All copyright belongs to that of the source you are taken to </li>
  		<li>3.I had fun making this site!</li>
	</ol> 	
    </p2>
  </div>
</div>
  </div>


</body>


</html>

